@import "https://unpkg.com/@tailwindcss/forms@0.2.1/dist/forms.min.css";
@import "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";

.overflow-body {
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.overflow-body::-webkit-scrollbar {
    display: none;
}